<div class="container">
    <div class="p-1" style="text-align: right">
        <a routerLink="/">
            <img width="16" src="assets/back.svg" alt="Back to feeds"> Back to feeds
        </a>
    </div>
    <table class="w-100">

        <tbody>
            <tr>
                <td class="feed-image">
                    <img 
                        onerror="this.src='assets/icon-72x72.png'"
                        [src]="about.image || 'assets/icon-72x72.png'" alt="image">
                </td>
                <td class="feed-about">
                    <div *ngIf="about.title">
                        <strong class="mr-1">Title:</strong>
                        <span>{{about.title}}</span>
                    </div>
                    <div *ngIf="about.author">
                        <strong class="mr-1">Author:</strong>
                        <span>{{about.author}}</span>
                    </div>
                    <div *ngIf="about.description">
                        <strong class="mr-1">Description:</strong>
                        <span>{{about.description}}</span>
                    </div>
                    <div *ngIf="about.link">
                        <strong class="mr-1">Link:</strong>
                        <a target="_blank" href="{{about.link}}">{{about.link}}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>



    <div class="post-wrapper" *ngFor="let post of posts">
        <app-post [post]=post></app-post>
    </div>
    <hr>
    <div style="height: 50px;">
    </div>

    <div class="p-1">
        <button (click)="deleteFeed()" class="a-button red lh-20 mr-1">Delete the feed</button>
        <button (click)="removeAllPosts()"
            *ngIf="posts.length > 0"
            class="a-button red lh-20">Remove all posts</button>
    </div>

    <div style="height: 100px;">
    </div>

</div>
