
<div class="post-header">
    <img *ngIf="post.thumbnail"
        class="post-header-thumbnail"
        [src]="post.thumbnail" alt="thumbnail">
    <div class="post-header-text">
        <small class="short-info">
            {{shortInfo}}
        </small>
        <h3 *ngIf="hidden" (click)="hidden = !hidden" [innerHTML]="post.title | sanitizeHtml"></h3>
        <h3 *ngIf="!hidden">
            <a target="_blank" [href]="post.link" [innerHTML]="post.title | sanitizeHtml"></a>
            <sup> ↗</sup>
        </h3>
    </div>

    <button *ngIf="hidden"
        (click)="hidden = !hidden"
        [ngClass]="{green: post.isNew}"
        class="ml-auto a-button post-button">️<img src="assets/expand.svg" alt="Expand post"></button>
    <button *ngIf="!hidden"
        (click)="hidden = !hidden"
        [ngClass]="{green: post.isNew}"
        class="ml-auto a-button post-button"><img src="assets/unexpand.svg" alt="Unexpand post"></button>
</div>

<ng-container *ngIf="!hidden">
    <hr>
    <div class="post-box">
        <div [innerHTML]="post.content | sanitizeHtml"></div>
    </div>
    <div *ngIf="post?.categories?.length" class="small text-muted mb-1">
        <em *ngFor="let cat of post.categories; let last = last">{{cat}}<span *ngIf="!last">, </span></em>
    </div>
    
    <div *ngIf="post.enclosure?.thumbnail">
        <a [href]="post.enclosure.link" *ngIf="post.enclosure?.thumbnail">
            <img *ngIf="post.enclosure.thumbnail" [src]="post.enclosure.thumbnail" alt="thumbnail">
        </a>
        <div *ngIf="post.enclosure?.type">Type: {{post.enclosure?.type}}</div>
    </div>
    
    <div *ngIf="isImage">
        <img [src]="post.enclosure.link" alt="thumbnail">
        <div *ngIf="post.enclosure?.type">Type: {{post.enclosure?.type}}</div>
    </div>
    
    <div *ngIf="!(post.enclosure?.thumbnail) && post.enclosure?.url">
        <a [href]="post.enclosure.url" target="_blank">Enclosure<sup>↗️</sup></a>
        <div *ngIf="post.enclosure?.type">Type: {{post.enclosure?.type}}</div>
        <div *ngIf="post.enclosure?.length">Length: {{post.enclosure?.length}}</div>
    </div>
</ng-container>


<!--<pre *ngIf="!hidden">{{post.enclosure|json}}</pre>-->
