<div class="container mb-3">
    <div>
        <a routerLink="/">
            <img src="assets/fur-boot-green.svg" style="width: 5rem" alt="Stupid RSS Reader logo">
        </a>
        <span *ngIf="loading" class="ml-4 spinner"></span>
    </div>
    <h6 class="post-header mt-2">
        {{feed?.url}}
    </h6>
</div>
<hr>
<div class="container" *ngIf="newPosts.length" style="border-left: 2px solid green">

    <div class="text-center" *ngIf="!showNewPosts">
        <button class="btn btn-success" (click)="showNewPosts = true">Show new ({{newPosts.length}})</button>
    </div>
    <div *ngIf="showNewPosts">
        <div *ngFor="let item of newPosts|sort:'isoDate':false" class="post">
            <h6 class="text-muted">{{item.author || item.creator}}, {{item.isoDate}},
                <a target="_blank" [href]="item.link">link ➢</a>
            </h6>
            <h4>{{item.title}}</h4>
            <div [innerHTML]="item.content"></div>
        </div>
    </div>

</div>

<div class="container">
    <div class="text-center text-info" *ngIf="!feed.items.length && !newPosts.length">No recent posts</div>
    <div *ngFor="let item of feed.items|sort:'isoDate':false" class="post">
        <h6 class="text-muted">{{item.author || item.creator}}, {{item.isoDate | isoToDate | date}},
            <a target="_blank" [href]="item.link">link ➢</a></h6>
        <h4>{{item.title}}</h4>
        <div *ngIf="item?.categories?.length" class="small text-muted mb-1">
            <em *ngFor="let category of item.categories; let last = last">{{category}}<span *ngIf="!last">, </span></em>
        </div>
        <div [innerHTML]="item.content"></div>
    </div>
</div>

<hr>

<div class="container mb-5">
    <h6 class="post-header mt-4">
        <a routerLink="/home">↵ back</a>
    </h6>
</div>
