<div class="container mb-3">
  <div class="d-flex justify-content-start align-items-center">
    <a routerLink="/">
      <img alt="Stupid RSS Reader logo" src="assets/fur-boot-green.svg" style="width: 5rem">
    </a>
    <span class="ml-2 text-muted small">New: {{newPosts.length}}, old: {{posts.length}}</span>
    
  </div>
  <h6 class="post-header mt-2">
    {{url}}
  </h6>
</div>
<hr>

<div class="container">
  <div class="alert alert-warning" role="alert" *ngIf="error">
    <h6>Error</h6>
    <pre>{{error|json}}</pre>
  </div>
  
</div>

<div class="container" *ngIf="newPosts.length">


  <div *ngFor="let item of newPosts" class="d-flex post">
    <app-post [post]="item" [hidden]="false"></app-post>
  </div>
  <div class="divide-line text-center text-success mb-5 mt-3">new ⤴</div>


</div>

<div class="container">
  <div class="text-center text-info" *ngIf="(newPosts.length + posts.length) < 1">No recent posts</div>
  <div *ngFor="let item of posts" class="d-flex post">
    <app-post [post]="item" [hidden]="true"></app-post>
  </div>
</div>

<hr>

<div class="container mb-5">
  <h6 class="d-flex align-items-center">
    <a routerLink="/home" class="btn btn-outline-primary">↵ back</a>
    <button class="btn btn-danger btn-sm ml-auto"
      (click)="clear()"
      type="button">&times; clear</button>
  </h6>
</div>
<div class="fixed-bottom fixed-bottom-wrapper">

    <div class="btn-group btn-group-lg" [hidden]="!showGetNewsButton">
      <button routerLink="/" type="button"
        class="btn btn-outline-success">🏠</button>
      <button (click)="getNews()"
        [disabled]="loading"
        class="btn btn-success btn-get-news">
        <span *ngIf="loading" class="spinner"></span>
        Get news!
      </button>
    </div>

  
</div>
