/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/utilities/flex';

h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
  color: #417505;
}

h4 > a {
  color: #417505;
}

h4 > sup {
  color: #5591c5;
}

.container .post > div {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.4rem;
    color: #132104;
  }

}

.post-header {
  word-wrap: break-word;
  color: #417505;
}

.rss-label {
  padding: 0.1rem 0.3rem;
  background-color: coral;
  margin-right: 0.5rem;
}

.container .post {
  margin-bottom: 2rem;
  word-break: break-word;
}

.post img {
  height: auto;
  max-width: 100%;
}

.table td {
  word-break: break-all;
}

.divide-line {
  position: relative;
  border-bottom: 1px green dotted;
}

.post-container {
  position: relative;
  clear: both;
}

.fixed-bottom-wrapper {
  left: 15px; 
}
.fixed-bottom-wrapper > .btn-group {
  margin-top: -250px; 
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 30rem;
  border-bottom-right-radius: 30rem;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.btn-get-news {
  border-radius: 30rem;
  margin-bottom: 10%;
  margin-left: 2px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.7);
}
.btn-get-news .spinner {
  border: 2px solid white;
  border-right-color: transparent;
  border-left-color: transparent;
}

.more-info {
  font-weight: bold;
  margin-left: 0.5rem;
}
.feed-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
