/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #417505,
);
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/utilities/flex';

h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
}

h4 > sup {
  color: #5C941C;
}

.container .post > div {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.4rem;
    color: #132104;
  }

}

.table-header {
  table-layout: fixed;
}

.table-header-logo-cell {
  width: 90px;
  vertical-align: top;
}

.post-header {
  border-right: 1px solid transparent;
  word-wrap: break-word;
  color: #417505;
}

.rss-label {
  padding: 0.1rem 0.3rem;
  background-color: coral;
  margin-right: 0.5rem;
}

.container .post {
  margin-bottom: 2rem;
  word-break: break-word;
}

.post img {
  height: auto;
  max-width: 100%;
}

.table td {
  word-break: break-all;
}

.divide-line {
  position: relative;
  border-bottom: 1px green dotted;
}

.post-container {
  position: relative;
  clear: both;
}

.btn-get-news {
  border-radius: 30rem;
  box-shadow: 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
}

.btn-get-news.disabled, .btn-get-news:disabled {
  opacity: 1;
}

.btn-get-news:hover {
  color: white;
}

.btn-get-news .spinner {
  border: 2px solid white;
  border-right-color: transparent;
  border-left-color: transparent;
}

.more-info {
  font-weight: bold;
  color: #5C941C;
  margin-left: 0.5rem;
}
.feed-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.app-name {
  font-size: 1.7rem
}
.fixed-bottom-wrapper {
  position: fixed;
  top: 85%;
  left: 10%;
}