/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/functions';

$grid-gutter-width: 60px;
@import '~bootstrap/scss/variables';

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';


@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/utilities';



h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
    color:#417505;
}

.container .post > div {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.4rem;
        color: #132104;
    }

}


.post-header {
    word-wrap: break-word;
    color:#417505;
}

.rss-label {
    padding: 0.1rem 0.3rem;
    background-color: coral;
    margin-right: 0.5rem;
}

.container .post {
    margin-bottom: 3rem;
  word-break: break-word;
}

.post img {
    height: auto;
  margin-left: -30px;
    max-width: 100%;
  max-width: calc(100% + 60px);

}
.table td {
    word-break: break-all;
}
