<div class="container mb-3 mt-3">

    <table class="w-100">
        <tbody>
        <tr>
            <td>
                <a routerLink="/">
                    <img alt="Stupid RSS Reader logo" src="assets/fur-boot-green.svg" style="width: 5rem">
                </a>
            </td>
            <td>
                <h1 class="ml-2 app-name">Stupid RSS Reader</h1>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container p-1 mb-2" style="background-color:rgba(255,248,220,0.5)">
    <div class="feeds-header">
        <h2 class="mr-auto">Feeds</h2>
        <button class="a-button button-share mr-1" (click)="share()" *ngIf="shareIsSuported" >
            <img src="assets/share.svg" alt="Share feeds">
        </button>
        <button class="a-button green"
            [disabled]="loading"
            (click)="refreshFeeds()">Refresh all feeds</button>
    </div>

    <div class="feed-line" *ngFor="let feed of feeds; trackBy:identify">
        <div>
            <strong class="fit-text">{{feed.about?.title || 'noname'}}</strong><br>
            <small class="fit-text">{{feed.url}}</small>
        </div>
        <div class="ml-auto" style="text-align: right;">
            <span class="spinner" *ngIf="feedLoading[feed.id]"></span>

            <button class="a-button"
                    style="width: 60px"
                    [routerLink]="['/', feed.id]"
                    *ngIf="!feedLoading[feed.id]">
                <sup class="new-info" *ngIf="(feed.id | count:true | async) > 0">
                    +{{ feed.id | count:true | async }}
                </sup>
                {{(feed.id | count | async) || '-'}}
            </button>
        </div>
    </div>

    <div *ngIf="!addFeedMode" class="mt-1">
        <button class="a-button lh-20" (click)="addFeedMode=true">+ add</button>
    </div>
    <div>
        <form *ngIf="addFeedMode" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="new-feeds">Enter new feed URLs</label>
                <textarea class="pure-input-1"
                    [(ngModel)]="rawFeedURLs"
                    name="rawFeedURLs"
                    id=new-feeds
                    [placeholder]="['https://example.com/feed1\nhttps://example.com/feed2']"></textarea>

                <button type="button"
                    (click)="addFeeds(rawFeedURLs)"
                    class="a-button lh-20">Add to the feeds</button>
            </fieldset>
        </form>
    </div>
    <!-- <div *ngIf="error" class="text-danger">💢 {{error}}</div> -->

</div>



<div class="container p-1 mb-2" style="background-color:rgba(255,235,205,0.5);">
    <h3>About</h3>
    <p>I'm tired of different stupid RSS clients and I created own Stupid RSS Reader.</p>
    <h4>Proxy for RSS</h4>
    <p>
        The application must use the proxy <a href="https://rss2json.com/" target="_blank">rss2json.com</a> because CORS restrictions on cross-site requests.
    </p>

    <h4>Features</h4>
    <ul>
        <li>Stupid RSS is <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive
            Web App</a>
        </li>
        <li>You can install it to your smartphone</li>
        <li>Very simple interface</li>
        <li>Offline mode</li>
        <li>All user data are stored locally only (<a href="https://developer.mozilla.org/ru/docs/Web/API/IndexedDB_API" target="_blank">IndexedDB</a>)</li>
        <li>The last 99 posts are stored. Deletion occurs after downloading new ones</li>
        <li>Open source: <a href="https://github.com/gurov/stupid-rss-reader" target="_blank">Github</a></li>
    </ul>

</div>


<div class="container p-1 mb-2" style="background-color:rgba(255,250,240,0.5)">
    <h3>Philosophy</h3>
    <p>The application does not impose anything, but only executes orders.</p>
</div>

<div class="bottom-box">
    <img src="assets/favicon-32x32.png">
</div>
